extends ../layouts/layout.pug

block style
    link(rel="stylesheet", href="/css/forms.css")
    link(rel="stylesheet", href="/css/product.css")

block content
    main
        form.product-form(action=(edit?"/admin/edit-product":"/admin/add-product"), method="post")
            .form-control
                label(for="title") Title
                input#title(type="text", name="title" value=edit&&product.title)
            .form-control
                label(for="imageUrl") ImageUrl
                input#imageUrl(type="text", name="imageUrl" value=edit&&product.imageUrl)
            .form-control
                label(for="price") Price
                input#price(type="number", name="price" step="0.001" value=edit&&product.price)
            .form-control
                label(for="description") Description
                textarea#description(name="description", rows="5") #{edit?product.description:""}
            button.btn(type="submit") #{edit?"Update Product":"Add Product"}
            if edit
                input(type="hidden", name="productId" value=product.id)